<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>
<body>
    {% for index, gorev in df.iterrows() %}
        <div style="width: 200px; height: 200px; background-color: {{
        'lightgreen' if gorev['Durum'] == 'Yapildi' else 'white'}}; border:1px solid black;">
            <p>Gorev {{gorev["Gorev"] }}</p><br>
            <p>Durum {{ gorev["Durum"] }}</p>
            <a href="/degistir/{{gorev['Gorev']}}">Tikla</a>
        </div>
    {% endfor %}
</body>
</html>