<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogrula</title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; margin: 0;">
    {% if message == "Kod Dogru" %}
    <meta http-equiv="refresh" content="2;url={{ url_for('anasayfa') }}">
    {% endif %}
    <h1>Dogrulama kodunu gir</h1>
    <h2>{{message}}</h2>
    <form method="POST" action="/dogrula">
        <input style="margin: 5px 20px 0 20px; width: 200px; border: grey solid;" type="text" name="kod" placeholder="6 haneli kodu gir" required><br>
        <button style="margin: 10px 20px 0 20px; width: 200px; color: #d1c021; background-color: #0e2e78; border-radius: 8px;" type="submit">Dogrula</button>
    </form>
    <form action="/uret" method="POST">
        <input type="hidden" name="email" value="{{session['email']}}">
        <button style="margin: 10px 20px 0 20px; width: 200px; color: #d1c021; background-color: #0e2e78; border-radius: 8px;" type="submit">Yeni Kod Gonder</button>
    </form>
</body>
</html>